@media (min-width: 1250px) {

    // nav {
        
        .webMenu {
            display: flex;
            flex-direction: row;
            justify-content: end;
        
        }
        
        .mobileMenuButton {
            display: none;
        }

        .mobileMenu {
            display:none;
        }

    // }    
}

@media (min-width: 1080px) {

    .contact {
        height: 50vh;
    }

        .contactFlexContainer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                // margin-bottom: 10px;
            }
        
            // fieldset {
            //     // padding: 0% 20%;

            //     textarea {
            //         // width: 98%;
            //       }
            // }
    }



@media (min-width: 1025px) {

    h1 {
        font-size: 3.8rem;
        padding-bottom: 80px;
        margin: 0;
    }

    .intro {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
        .introContainer,
        .photoContainer {
            width: 50%
        }

        .introContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 0px 50px;
        }
            .contactLinks {
                // justify-content: space-around;
                align-items: flex-start;

                a {
                    margin: 0px;
                }
            }
        }
    
        .photoContainer {
            max-width: 100%;

            img {
                height: auto;
                height: 100%;
                width: 100%;

            }
        }
        

    // .skills {

    //     padding: 25px 15px 45px 15px;
    // }
        .skillsList {

            ul {
                width: 50%;
            }
            li {
                margin: 30px;
            }
            // i {
            //     font-size: 2rem;
            // }
        }
    

                
@media (min-width: 765px) and (max-width: 1024px){

    h1 {
            font-size: 3rem;
    }

//    .intro {

       .photoContainer {
        
            img {
                max-width: 50%;
                height: auto;
            }
        
        }
//    } 

//    .skills {
//        .skillsList {
           .skillSubtitle {
               margin: 25px;
           }
    //    }
//    }

//    .projects {

        // .projectContainer {

        //     // h4 {
        //     //     // top: 15%;
        //     //     // margin
        //     // }
        // }
   }
// }

@media (min-width: 575px) and (max-width: 768px) {

    // .intro {
    
            .photoContainer {
    
                img {
                    max-width: 100%;
                    height: 565px;
                }
    
            }
        // }
    
    // .projects {

        .overlay {
            padding: 10px;
        }
    // }
   
}
    
@media (min-width: 675px) {
    // .projects {

        // .projectRowOne,
        // .projectRowTwo {
        //     flex-direction: row;
        // }

        .projectContainer {
            margin: 7px 25px; 
        }

        // .projectTwo,
        // .projectFour {
        //     margin-top: 100px;
        // }

        // .projectFour {
        //     margin-bottom: 27px;
        // }
    }
// }

@media (min-width:575px) {

    // nav {

    //     button {

    //         .fa-angle-down {
                
    //             color: $black;

    //         }
    //     }
    // }
}

@media (min-width:810px) {

    .wrapper {
        width: 70%;
    }
    .mobileProject {
        display:none;
    }

    .webProject {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .projectTitle {
      position: static;
      top: 0%;  
    }

    .projectInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        max-width: 50%;
    }

    .projectConnect {
        // width: 60%;
        // justify-content: space-between;
        a {
            margin: 0px 10px;
        }
    }
}


