$primaryFont: 'Raleway', sans-serif;

$color1:#ADB0C7;
$color2: #cc6979;
$color3: #E4EDE8;
$color4: #DABEB6;
$color5: #FEFAF4;
$color6: #F8F5F2;
$grey: #6d7277;
$black: #000000;
$white: #FFFFFF;
$red: #E66961;
