$josefin: 'Josefin Sans',sans-serif;

$color1:#6a5a70;
$color2: #cc6979;
$color3: #83948A;
$color4: #e69686;
$color5: #cdeed4;
$color6: #F8F5F2;
$grey: #6d7277;
$black: #000000;
$white: #FFFFFF;
$red: #E66961;
