@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

html, body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1250px;
  width: 95%;
  margin: 0 auto;
}

p,
.pronouns {
  color: #6d7277;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0px;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0px;
  color: #000000;
}
a:hover, a:focus-visible {
  color: #E66961;
}

i:hover, i:focus-visible {
  color: #E66961;
  cursor: pointer;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 20px 0px;
}

h2 {
  font-size: 1.11rem;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 35px 0 0 0;
}

h3 {
  font-size: 1.11rem;
  font-weight: 600;
  letter-spacing: -1px;
}
h3:before {
  background-color: #000000;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 8%;
  right: 10px;
  margin-left: 1%;
}

.centerTitle::after {
  background-color: #000000;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 8%;
  left: 10px;
  margin-right: 1%;
}

.miniBorder::before {
  content: "";
  display: block;
  width: 65px;
  border-top: 2px solid;
  padding-bottom: 15px;
  margin-left: 5px;
}

nav {
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  width: 100vw;
  height: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
}
nav button {
  background: none;
  border: none;
  font-size: 1.5rem;
}
nav button:hover {
  color: #E66961;
  cursor: pointer;
}

.webMenu {
  display: none;
  padding: 20px 0px;
}
.webMenu a {
  text-decoration: none;
  margin-right: 65px;
}

.mobileMenuButton {
  display: block;
  border: none;
  background: none;
  position: absolute;
  right: 30px;
  top: 10px;
  color: #000000;
}
.mobileMenuButton:hover {
  color: #E66961;
}

.mobileMenu {
  width: 25%;
  display: none;
  background-color: #000000;
  padding: 15px 0px;
  position: relative;
  top: 113px;
  right: 15px;
}
.mobileMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobileMenu li {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 5px 0px;
}
.mobileMenu a {
  text-decoration: none;
  color: #FFFFFF;
}
.mobileMenu a:hover, .mobileMenu a:focus {
  color: #E66961;
}

.revealMenu {
  display: block;
}

.navName {
  margin-left: 13px;
}

header {
  max-height: 150vh;
}

.intro {
  max-height: 100%;
}
.intro h2 {
  margin-top: 100px;
}

.contactLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 50px;
}
.contactLinks li {
  margin-right: 50px;
  padding: 15px 20px;
  border: 2px solid #000000;
  border-radius: 5px;
}
.contactLinks a {
  margin: 20px 0;
}

.blackBtn {
  background-color: #000000;
  border: 2px solid #000000;
  border-radius: 5px;
  color: #FFFFFF;
}
.blackBtn a {
  color: #FFFFFF;
}
.blackBtn:hover, .blackBtn:focus-visible {
  background-color: #FFFFFF;
  color: #000000;
  cursor: pointer;
}
.blackBtn:hover a, .blackBtn:focus-visible a {
  color: #000000;
}

.whiteBtn {
  background-color: #FFFFFF;
  border: 2px solid #000000 !important;
  border-radius: 5px;
}
.whiteBtn:hover, .whiteBtn:focus-visible {
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
}
.whiteBtn:hover a, .whiteBtn:focus-visible a {
  color: #FFFFFF;
}

.introContainer {
  max-height: 100%;
}

.photoContainer {
  max-width: 100%;
  max-height: 100%;
}
.photoContainer img {
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}

.pronouns {
  margin: 0;
  font-size: 58%;
}

.about {
  padding: 20px;
  margin: 50px auto;
}

.skills {
  background-color: #ADB0C7;
  padding-top: 30px;
}
.skills h3 {
  text-align: center;
  margin-top: 5px;
  color: #FFFFFF;
}

.skillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-bottom: 10px;
}
.skillsList ul {
  width: 100%;
}
.skillsList li {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skillsList li p {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skillsList i {
  color: #FFFFFF;
  font-size: 2rem;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 3px;
  cursor: default;
}

.skillsList .ruby li {
  margin: 28px;
}

.ruby li {
  margin: 24px;
  font-size: 3rem;
}
.ruby .devicon-rails-plain-wordmark {
  font-size: 3rem;
}
.ruby i {
  margin-bottom: 0;
}

.skillSubtitle {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 0.6rem;
}

.projects {
  padding: 20px 20px 0px 20px;
}

.projectContainer {
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 395px;
  width: 100%;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 7px auto;
  position: relative;
}

.webProject {
  display: none;
}

.projectTitle {
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.phonePreview {
  max-height: 100%;
  max-width: 100%;
}

.projectOne {
  background-color: #FEFAF4;
}

.projectTwo {
  background-color: #E4EDE8;
}

.projectThree {
  background-color: #DABEB6;
}

.projectFour {
  background-color: #8C6D6A;
}

.overlay {
  display: hidden;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  opacity: 0;
  position: absolute;
  border-radius: 8px;
  height: 395px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 7px auto;
}
.overlay .fa-xmark {
  font-size: 1.3rem;
  position: absolute;
  top: 20px;
  right: 20px;
}
.overlay h4 {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 5px;
}
.overlay p {
  text-align: center;
  color: #6d7277;
  margin: 0;
}

.projectConnect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectViewButton {
  font-size: 0.9rem;
  border: none;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0;
  padding: 10px;
  border-radius: 8px;
  -ms-flex-item-align: center;
      align-self: center;
}

.hidden {
  display: none;
}

.overlayOne {
  background-color: #FEFAF4;
}

.overlayTwo {
  background-color: #E4EDE8;
}

.overlayThree {
  background-color: #DABEB6;
}

.overlayFour {
  background-color: #8C6D6A;
}

.overlaySkillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlaySkills {
  color: #6d7277;
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 8px;
  font-size: 0.9rem;
}

.overlay.reveal {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobileProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact {
  background-color: #F8F5F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact h3 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0px;
}
.contact h4 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0px;
  margin-bottom: 10px;
}
.contact h3,
.contact h4 {
  margin: 0;
  text-align: center;
  padding: 10px;
}
.contact p {
  text-align: center;
}

.contactFlexContainer {
  margin-bottom: 10px;
}

form {
  border: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

textarea {
  resize: none;
  border-radius: 8px;
  border: none;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 1.75rem;
  width: 100%;
  padding: 7px 20px;
  color: #6d7277;
  font-size: 0.8rem;
}

input {
  border-radius: 8px;
  border: none;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 1.75rem;
  width: 49%;
  padding: 7px 20px;
  color: #6d7277;
  font-size: 0.8rem;
}
input ::-webkit-input-placeholder {
  font-weight: 300;
}
input ::-moz-placeholder {
  font-weight: 300;
}
input :-ms-input-placeholder {
  font-weight: 300;
}
input ::-ms-input-placeholder {
  font-weight: 300;
}
input ::placeholder {
  font-weight: 300;
}

input ::-webkit-input-placeholder, textarea ::-webkit-input-placeholder {
  font-weight: 300;
}

input ::-moz-placeholder, textarea ::-moz-placeholder {
  font-weight: 300;
}

input :-ms-input-placeholder, textarea :-ms-input-placeholder {
  font-weight: 300;
}

input ::-ms-input-placeholder, textarea ::-ms-input-placeholder {
  font-weight: 300;
}

input ::placeholder,
textarea ::placeholder {
  font-weight: 300;
}

.contactSubmit {
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #000000;
  color: white;
  cursor: pointer;
  margin: 0;
  padding: 20px 30px;
  border-radius: 8px;
  -ms-flex-item-align: center;
      align-self: center;
}

footer {
  background-color: #F8F5F2;
  text-align: center;
  padding-top: 10px;
}
footer p {
  margin: 0;
  font-size: 0.7rem;
}

@media (min-width: 1250px) {
  .webMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .mobileMenuButton {
    display: none;
  }
  .mobileMenu {
    display: none;
  }
}
@media (min-width: 1080px) {
  .contact {
    height: 50vh;
  }
  .contactFlexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1025px) {
  h1 {
    font-size: 3.8rem;
    padding-bottom: 80px;
    margin: 0;
  }
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100vh;
  }
  .introContainer,
  .photoContainer {
    width: 50%;
  }
  .introContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0px 50px;
  }
  .contactLinks {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contactLinks a {
    margin: 0px;
  }
}
.photoContainer {
  max-width: 100%;
}
.photoContainer img {
  height: auto;
  height: 100%;
  width: 100%;
}

.skillsList ul {
  width: 50%;
}
.skillsList li {
  margin: 30px;
}

@media (min-width: 765px) and (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  .photoContainer img {
    max-width: 50%;
    height: auto;
  }
  .skillSubtitle {
    margin: 25px;
  }
}
@media (min-width: 575px) and (max-width: 768px) {
  .photoContainer img {
    max-width: 100%;
    height: 565px;
  }
  .overlay {
    padding: 10px;
  }
}
@media (min-width: 675px) {
  .projectContainer {
    margin: 7px 25px;
  }
}
@media (min-width: 810px) {
  .wrapper {
    width: 70%;
  }
  .mobileProject {
    display: none;
  }
  .webProject {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .projectTitle {
    position: static;
    top: 0%;
  }
  .projectInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto;
    max-width: 50%;
  }
  .projectConnect a {
    margin: 0px 10px;
  }
}